.room-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "videoscreen chat"
    "menu chat";
grid-template-rows: 90vh 10vh;
grid-template-columns: 75vw 25vw;
  }

