.menu-container {
  border-top: 1px solid lightgray;
  background-color: #1c1e20;
  grid-area: menu;
  display: flex;
  align-items: center;
  .icon-container {
    &:hover {
      background-color: #343434;
      border-radius: 5px;
      box-shadow: 0px 0px 20px rgba($color: #343434, $alpha: 0.4);
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    cursor: pointer;
    svg {
      color: #d2d2d2;
      font-size: 24px;
    }
    p {
      font-size: 18px;
      color: #d2d2d2;
      margin-top: 5px;
    }
    .red-text {
      color: #eb534b;
    }
  }
  .controller {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    &-left {
      width: 30%;
      justify-content: space-evenly;
    }
    &-middle {
      width: 50%;
      justify-content: center;
      // .icon-container:not(:last-child){
      .icon-container {
        padding: 0px 5px 0px 0px;
      }
    }
    &-right {
      width: 20%;
      justify-content: flex-end;
      padding-right: 20px;
      .text {
        &:hover {
          background-color: inherit;
          border-radius: 0px;
          box-shadow: none;
        }
      }
    }
  }
}
.fa-microphone-slash,.fa-video-slash{
    color:#cc3b33 !important
}
